.colorPickerWrapper {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.colorPicker {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    background-color: white;
    border: 1px solid darkgrey;
    border-radius: 2px;
    max-height: 52px;
    margin-bottom: 20px;
}

.colorPickerValue {
    color: darkgrey;
    margin-left: 10px;
    font-size: 20px;
}

.pickersControls {
    display: flex;
}

.pickersControlsAction {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-left: 1px solid darkgrey;
}

.pickersControlsAction:focus {
    outline: none;
}

.paletteAction {
    position: relative;
}

.paletteAction::after{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 14px 12px 0 12px;
    transform: translate(-50%, -50%);
    border-color: #74818f transparent transparent transparent;
}

.colorIndicator {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid grey;
}

.modalContainer {
    display: flex;
    justify-content: flex-end;
}
